name: Pre-commit checks

on:
  pull_request:
    branches:
      - '**'
  push: 
    branches: 
      - '**'
          
jobs:
  pre-commit-check:
    runs-on: ubuntu-latest
    environment: pre-commit
    permissions:
      contents: read
    steps:
    - name: Checkout Source Code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        cache: 'pip'
    - name: Cache pre-commit environments
      uses: actions/cache@v4
      with:
        path: ~/.cache/pre-commit
        key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
        restore-keys: |
          ${{ runner.os }}-pre-commit-
    - name: Install pre-commit
      run: pip install pre-commit
    - name: Run pre-commit hooks
      run: pre-commit run --all-files --show-diff-on-failure --color always